# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
import sys
key = "C:\\Users\\Kelly\\Desktop\\KEYS"
sys.path.append(key)
from GoogleAPI import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv('clean_city_data.csv')
city_df

,Unnamed: 0,City ID,City Name,Cloudiness,Wind Speed,Temperature,Feels Like,Min Temp,Max Temp,Barometric Pressure,Humidity,Sea Level,Ground Level,Latitude,Longitude
0,0,2685750,Östersund,99.0,100.00,2721.0,267.45,272.04,272.15,1013.0,100.0,NaN,NaN,NaN,NaN
1,1,3831208,Qaanaaq,100.0,59.00,26381.0,258.75,263.81,263.81,1010.0,81.0,1010.0,1010.0,86.349741,82.118957
2,2,5554428,Ketchikan,1.0,60.00,27415.0,269.83,274.15,274.15,1011.0,80.0,NaN,NaN,-52.936276,16.030378
3,3,2206939,Bluff,56.0,11.62,28537.0,280.11,285.37,285.37,1025.0,80.0,NaN,NaN,-32.749052,85.423768
4,4,1525798,Balkhash,0.0,70.00,25215.0,244.26,252.15,252.15,1037.0,83.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,558,1805518,Jining,0.0,6.00,27508.0,266.40,275.08,275.08,1031.0,69.0,1031.0,1026.0,NaN,NaN
559,559,1856434,Murakami,75.0,360.00,27915.0,270.62,279.15,279.15,1013.0,87.0,NaN,NaN,NaN,NaN
560,560,2171069,Colac,100.0,5.81,29935.0,298.82,297.04,300.93,1017.0,45.0,NaN,NaN,NaN,NaN
561,561,3698608,Celendín,100.0,118.00,28458.0,284.25,284.58,284.58,1016.0,92.0,1016.0,748.0,NaN,NaN
562,562,495206,Shchigry,90.0,140.00,27077.0,263.32,270.37,271.15,1022.0,86.0,NaN,NaN,NaN,NaN

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=gkey)
city_df = city_df.dropna()
locations = city_df[["Latitude", "Longitude"]].astype(float)

weights = city_df["Humidity"].astype(float)

In [4]:
# fig = gmaps.figure()

# heat_layer = gmaps.heatmap_layer(locations, weights, 
#                                  dissipating=False, max_intensity=100,
#                                  point_radius = 4)

# fig.add_layer(heat_layer)

# fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_weather = city_df.loc[city_df['Humidity'] < 50]
ideal_weather = city_df.loc[city_df['Humidity'] > 30]
ideal_weather = city_df.loc[city_df['Feels Like'] < 1026.28]
ideal_weather = city_df.loc[city_df['Feels Like'] > 1005.76]
ideal_weather = city_df.loc[city_df['Max Temp'] < 296.5]
ideal_weather = city_df.loc[city_df['Min Temp'] > 291.5]
ideal_weather = city_df.loc[city_df['Wind Speed'] < 24]
ideal_weather = city_df.loc[city_df['Cloudiness'] > 40]
dropped_weather = ideal_weather.dropna(subset=['Humidity', 'Feels Like', 'Max Temp', 'Min Temp', 'Wind Speed', 'Cloudiness', 'Latitude', 'Longitude'])
hotel_checker = dropped_weather.sample(10)
hotel_checker

,Unnamed: 0,City ID,City Name,Cloudiness,Wind Speed,Temperature,Feels Like,Min Temp,Max Temp,Barometric Pressure,Humidity,Sea Level,Ground Level,Latitude,Longitude
437,437,8079926,Labuhan,100.0,291.0,30198.0,304.04,301.98,301.98,1008.0,71.0,1008.0,1008.0,16.622654,99.803433
250,250,3424607,Tasiilaq,100.0,57.0,27419.0,264.04,274.19,274.19,1004.0,88.0,1004.0,994.0,9.242190,-31.430434
168,168,4031574,Provideniya,100.0,45.0,26387.0,252.17,263.87,263.87,1005.0,95.0,1005.0,993.0,72.491104,40.293504
327,327,1528998,Yumen,99.0,85.0,25926.0,252.78,259.26,259.26,1038.0,77.0,1038.0,859.0,-51.299106,-22.872807
166,166,485215,Synya,100.0,193.0,26058.0,254.45,260.58,260.58,1024.0,95.0,1024.0,1011.0,-7.990791,169.870384
321,321,1058381,Morondava,94.0,92.0,2986.0,300.95,298.60,298.60,1014.0,77.0,1014.0,1014.0,3.562910,73.520631
419,419,4031637,Lavrentiya,100.0,43.0,26319.0,250.39,263.19,263.19,1011.0,90.0,1011.0,1010.0,44.143543,85.389637
236,236,1648082,Boyolangu,100.0,211.0,30094.0,304.88,300.94,300.94,1009.0,76.0,1009.0,998.0,14.827431,45.746530
271,271,2125693,Evensk,100.0,352.0,25848.0,251.77,258.48,258.48,1017.0,86.0,1017.0,1010.0,-76.673095,154.728901
52,52,1006984,East London,100.0,66.0,29239.0,291.08,292.39,292.39,1018.0,86.0,1018.0,1013.0,59.291060,140.346307

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = hotel_checker.reindex(columns = ["City Name", "Latitude", "Longitude"])
hotel_df["Hotel Name"] = ""
hotel_df = hotel_df.reset_index().rename(columns={"City Name":"City"})
hotel_df

   index         City   Latitude   Longitude Hotel Name
0    437      Labuhan  16.622654   99.803433
1    250     Tasiilaq   9.242190  -31.430434
2    168  Provideniya  72.491104   40.293504
3    327        Yumen -51.299106  -22.872807
4    166        Synya  -7.990791  169.870384
5    321    Morondava   3.562910   73.520631
6    419   Lavrentiya  44.143543   85.389637
7    236    Boyolangu  14.827431   45.746530
8    271       Evensk -76.673095  154.728901
9     52  East London  59.291060  140.346307

In [7]:
# #the latitudes and longitudes I saved from citipy were not getting along with the google api at this point, so I decided
#     #to get the place_id from the api and then get google's preferred coordinates from their own native api in order to 
#     #get to the hotel data.

# #get place_id for city
# placeid_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
# # use iterrows to iterate through pandas dataframe
# for index, row in hotel_df.iterrows():
#         placeid_params = {
#         "input": row['City'],
#         "inputtype": "textquery",
#         "key": gkey,
#     }
#         ID = requests.get(placeid_url, params=placeid_params).json()
#         ID = (ID["candidates"][0]["place_id"])
#         print(ID)

In [8]:
# #get coordinates from place_id
# coordinate_url = "https://maps.googleapis.com/maps/api/place/details/json?"
# # use iterrows to iterate through pandas dataframe
# for index, row in hotel_df.iterrows():
#         coordinate_params = {
#         "place_id": ID,
#         "key": gkey,
#     }
# #     assemble url and make API request
#         coords = requests.get(coordinate_url, params=coordinate_params).json()
#         lat = coords['result']['geometry']['location']['lat']
#         lng = coords['result']['geometry']['location']['lng']
#         coords = f'{lat},{lng}'
#         print(coords)

In [9]:
# find the closest restaurant of each type to coordinates


placeid_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
coordinate_url = "https://maps.googleapis.com/maps/api/place/details/json?"
hotel_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    #get place_id for city name
    placeid_params = {
        "input": row['City'],
        "inputtype": "textquery",
        "key": gkey,
    }
    
    ID = requests.get(placeid_url, params=placeid_params).json()
    ID = (ID["candidates"][0]["place_id"])
    City = row['City']
    

#     use place_id to get coordinates that agree with google's api
    coordinate_params = {
        "place_id": ID,
        "key": gkey,
    }
#     assemble url and make API request
    coords = requests.get(coordinate_url, params=coordinate_params).json()
    lat = coords['result']['geometry']['location']['lat']
    lng = coords['result']['geometry']['location']['lng']
    try:
        Country = coords['result']['address_components'][2]['long_name']
    except:
        Country = "n/a"
    coords = f'{lat},{lng}'

    hotel_params = {
        "location": coords,  
        "radius": 5000,
        "types": "lodging",
        "key": gkey,
    }
    
#     assemble url and make API request
    print(f"Retrieving Results for hotels near {City}:")
    response = requests.get(hotel_url, params=hotel_params).json()
    # extract results
    try:
        results = response['results'][0]['name']
    except:
        "n/a"

    
    
    try:
        print(f"Closest hotel to {City} is {results}.")
    except (KeyError, IndexError):
        print(f"Sorry, there are no hotels within 5000 meters of {City}. Maybe try someplace less remote?")
        
    print("------------")

Retrieving Results for hotels near Labuhan:
Closest hotel to Labuhan is Sambolo beach bungalows.
------------
Retrieving Results for hotels near Tasiilaq:
Closest hotel to Tasiilaq is The Red House.
------------
Retrieving Results for hotels near Provideniya:
Closest hotel to Provideniya is The Red House.
------------
Retrieving Results for hotels near Yumen:
Closest hotel to Yumen is 玉门宾馆.
------------
Retrieving Results for hotels near Synya:
Closest hotel to Synya is 玉门宾馆.
------------
Retrieving Results for hotels near Morondava:
Closest hotel to Morondava is La Case Bambou.
------------
Retrieving Results for hotels near Lavrentiya:
Closest hotel to Lavrentiya is La Case Bambou.
------------
Retrieving Results for hotels near Boyolangu:
Closest hotel to Boyolangu is Yos ega cv.
------------
Retrieving Results for hotels near Evensk:
Closest hotel to Evensk is Yos ega cv.
------------
Retrieving Results for hotels near East London:
Closest hotel to East London is Cranbrook Hotel.
------------

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Country'

In [ ]:
# Add marker layer ontop of heat map


# Display figure