# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [55]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
import sys
key = "C:\\Users\\Kelly\\Desktop\\KEYS"
sys.path.append(key)
from GoogleAPI import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [56]:
city_df = pd.read_csv('clean_city_data.csv')
city_df

,Unnamed: 0,City ID,City Name,Cloudiness,Wind Speed,Temperature,Feels Like,Min Temp,Max Temp,Barometric Pressure,Humidity,Sea Level,Ground Level,Latitude,Longitude
0,0,2685750,Östersund,99.0,100.00,2721.0,267.45,272.04,272.15,1013.0,100.0,NaN,NaN,NaN,NaN
1,1,3831208,Qaanaaq,100.0,59.00,26381.0,258.75,263.81,263.81,1010.0,81.0,1010.0,1010.0,86.349741,82.118957
2,2,5554428,Ketchikan,1.0,60.00,27415.0,269.83,274.15,274.15,1011.0,80.0,NaN,NaN,-52.936276,16.030378
3,3,2206939,Bluff,56.0,11.62,28537.0,280.11,285.37,285.37,1025.0,80.0,NaN,NaN,-32.749052,85.423768
4,4,1525798,Balkhash,0.0,70.00,25215.0,244.26,252.15,252.15,1037.0,83.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558,558,1805518,Jining,0.0,6.00,27508.0,266.40,275.08,275.08,1031.0,69.0,1031.0,1026.0,NaN,NaN
559,559,1856434,Murakami,75.0,360.00,27915.0,270.62,279.15,279.15,1013.0,87.0,NaN,NaN,NaN,NaN
560,560,2171069,Colac,100.0,5.81,29935.0,298.82,297.04,300.93,1017.0,45.0,NaN,NaN,NaN,NaN
561,561,3698608,Celendín,100.0,118.00,28458.0,284.25,284.58,284.58,1016.0,92.0,1016.0,748.0,NaN,NaN
562,562,495206,Shchigry,90.0,140.00,27077.0,263.32,270.37,271.15,1022.0,86.0,NaN,NaN,NaN,NaN

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [57]:
gmaps.configure(api_key=gkey)
city_df = city_df.dropna()
locations = city_df[["Latitude", "Longitude"]].astype(float)

weights = city_df["Humidity"].astype(float)

In [58]:
# fig = gmaps.figure()

# heat_layer = gmaps.heatmap_layer(locations, weights, 
#                                  dissipating=False, max_intensity=100,
#                                  point_radius = 4)

# fig.add_layer(heat_layer)

# fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [59]:
ideal_weather = city_df.loc[city_df['Humidity'] < 50]
ideal_weather = city_df.loc[city_df['Humidity'] > 30]
ideal_weather = city_df.loc[city_df['Feels Like'] < 1026.28]
ideal_weather = city_df.loc[city_df['Feels Like'] > 1005.76]
ideal_weather = city_df.loc[city_df['Max Temp'] < 296.5]
ideal_weather = city_df.loc[city_df['Min Temp'] > 291.5]
ideal_weather = city_df.loc[city_df['Wind Speed'] < 24]
ideal_weather = city_df.loc[city_df['Cloudiness'] > 40]
dropped_weather = ideal_weather.dropna(subset=['Humidity', 'Feels Like', 'Max Temp', 'Min Temp', 'Wind Speed', 'Cloudiness', 'Latitude', 'Longitude'])
hotel_checker = dropped_weather.sample(10)
hotel_checker

,Unnamed: 0,City ID,City Name,Cloudiness,Wind Speed,Temperature,Feels Like,Min Temp,Max Temp,Barometric Pressure,Humidity,Sea Level,Ground Level,Latitude,Longitude
52,52,1006984,East London,100.0,66.0,29239.0,291.08,292.39,292.39,1018.0,86.0,1018.0,1013.0,59.291060,140.346307
327,327,1528998,Yumen,99.0,85.0,25926.0,252.78,259.26,259.26,1038.0,77.0,1038.0,859.0,-51.299106,-22.872807
214,214,2126710,Beringovskiy,100.0,33.0,26682.0,256.83,266.82,266.82,1002.0,97.0,1002.0,1000.0,59.267785,179.496269
419,419,4031637,Lavrentiya,100.0,43.0,26319.0,250.39,263.19,263.19,1011.0,90.0,1011.0,1010.0,44.143543,85.389637
285,285,1633419,Padang,86.0,276.0,30323.0,305.32,303.23,303.23,1010.0,54.0,1010.0,1010.0,-17.449279,157.656513
112,112,1507390,Dikson,100.0,11.0,25007.0,242.49,250.07,250.07,1006.0,91.0,1006.0,999.0,-46.880381,-121.747164
19,19,1282256,Hithadhoo,100.0,325.0,30123.0,301.98,301.23,301.23,1012.0,76.0,1012.0,1012.0,-13.205522,74.634486
55,55,2063036,Port Lincoln,100.0,36.0,29467.0,290.75,294.67,294.67,1008.0,79.0,1008.0,1005.0,-4.557161,18.317279
545,545,359796,Suez,67.0,166.0,29187.0,289.99,291.87,291.87,1013.0,70.0,1013.0,1011.0,28.460135,57.903575
334,334,1337610,Thinadhoo,99.0,325.0,30117.0,302.57,301.17,301.17,1012.0,76.0,1012.0,1012.0,16.489648,172.918401

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [60]:
hotel_df = hotel_checker.reindex(columns = ["City Name", "Latitude", "Longitude"])
hotel_df["Hotel Name"] = ""
hotel_df = hotel_df.reset_index().rename(columns={"City Name":"City"})
hotel_df

   index          City   Latitude   Longitude Hotel Name
0     52   East London  59.291060  140.346307
1    327         Yumen -51.299106  -22.872807
2    214  Beringovskiy  59.267785  179.496269
3    419    Lavrentiya  44.143543   85.389637
4    285        Padang -17.449279  157.656513
5    112        Dikson -46.880381 -121.747164
6     19     Hithadhoo -13.205522   74.634486
7     55  Port Lincoln  -4.557161   18.317279
8    545          Suez  28.460135   57.903575
9    334     Thinadhoo  16.489648  172.918401

In [61]:
# #the latitudes and longitudes I saved from citipy were not getting along with the google api at this point, so I decided
#     #to get the place_id from the api and then get google's preferred coordinates from their own native api in order to 
#     #get to the hotel data.

# #get place_id for city
# placeid_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
# # use iterrows to iterate through pandas dataframe
# for index, row in hotel_df.iterrows():
#         placeid_params = {
#         "input": row['City'],
#         "inputtype": "textquery",
#         "key": gkey,
#     }
#         ID = requests.get(placeid_url, params=placeid_params).json()
#         ID = (ID["candidates"][0]["place_id"])
#         print(ID)

In [62]:
# #get coordinates from place_id
# coordinate_url = "https://maps.googleapis.com/maps/api/place/details/json?"
# # use iterrows to iterate through pandas dataframe
# for index, row in hotel_df.iterrows():
#         coordinate_params = {
#         "place_id": ID,
#         "key": gkey,
#     }
# #     assemble url and make API request
#         coords = requests.get(coordinate_url, params=coordinate_params).json()
#         lat = coords['result']['geometry']['location']['lat']
#         lng = coords['result']['geometry']['location']['lng']
#         coords = f'{lat},{lng}'
#         print(coords)

In [74]:
# find the closest restaurant of each type to coordinates


placeid_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
coordinate_url = "https://maps.googleapis.com/maps/api/place/details/json?"
hotel_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    #get place_id for city name
    placeid_params = {
        "input": row['City'],
        "inputtype": "textquery",
        "key": gkey,
    }
    
    ID = requests.get(placeid_url, params=placeid_params).json()
    ID = (ID["candidates"][0]["place_id"])
    City = row['City']
    
    hotel_params = {
        "location": coords,  
        "radius": 5000,
        "types": "lodging",
        "key": gkey,
    }
#     use place_id to get coordinates that agree with google's api
    coordinate_params = {
        "place_id": ID,
        "key": gkey,
    }
#     assemble url and make API request
    coords = requests.get(coordinate_url, params=coordinate_params).json()
    lat = coords['result']['geometry']['location']['lat']
    lng = coords['result']['geometry']['location']['lng']
    try:
        Country = coords['result']['address_components'][2]['long_name']
    except:
        Country = "n/a"
    coords = f'{lat},{lng}'

#     assemble url and make API request
    print(f"Retrieving Results for hotels near {City}:")
    response = requests.get(hotel_url, params=hotel_params).json()
    # extract results
    try:
        results = response['results'][0]['name']
    except:
        results = "n/a"
    print(results)
    
    
#     try:
#         print(f"Closest hotel is {results[0]['name']}.")
#     except (KeyError, IndexError):
#         print("Sorry, there are no hotels within 5000 meters of this city. Maybe try someplace less remote?")
        
#     print("------------")

Retrieving Results for hotels near East London:
Benhaage Guesthouse
Retrieving Results for hotels near Yumen:
Cranbrook Hotel
Retrieving Results for hotels near Beringovskiy:
玉门宾馆
Retrieving Results for hotels near Lavrentiya:
Beringgorski
Retrieving Results for hotels near Padang:
n/a
Retrieving Results for hotels near Dikson:
OYO 1305 Hotel Al-Ghani
Retrieving Results for hotels near Hithadhoo:
n/a
Retrieving Results for hotels near Port Lincoln:
Scoop Guest House
Retrieving Results for hotels near Suez:
Port Lincoln Hotel
Retrieving Results for hotels near Thinadhoo:
Drury Inn & Suites St. Louis St. Peters

In [67]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Country'

In [ ]:
# Add marker layer ontop of heat map


# Display figure